<div class="hide-nav-foot">
    <%- include('navbar.ejs') %>
    <div class="container">
        <div class="row">
            <div class="col-md-12 bg-white mb-2 shadow">
                <h3 class="heading p-2 mt-2">Welcome Admin Mr.Vinod Thombare</h3>
            </div>
        </div>
    </div>
    <%- include('footer.ejs') %>
</div>