<%- include("navbar.ejs"); %>
<form action="/admin/save_blog" method="post" enctype="multipart/form-data">
    <div class="container-fluid shadow p-4 shadow bg-white">
        <div class="row">
            <div class="col-md-12 ">
                <h3 class="heading">Add Blog</h3>
            </div>
            <div class="col-md-12 mt-3">
                Select image
                <input type="file" name="blog_image" accept="image/*" class="form-control" style="max-height: 400px;max-width:400px ;">
            </div>
            <div class="col-md-6 mt-3">
                Enter Blog Title
                <input type="text" name="blog_title"class="form-control" >
            </div>
            <div class="col-md-6 mt-3">
                Enter Blog Description
                <input type="text" name="blog_des" class="form-control">
            </div>
            <div class="col-md-12 text-center">
                <br>
                <button class="btn btn-dark">Save Blog</button>
            </div>
        </div>
    </div>
</form>
<%- include("footer.ejs"); %>
