<%- include('navbar.ejs') %>
<form action="/update_password" method="post">
    <div class="container mt-4 shadow">
        <div class="row justify-content-center">
            <div class="col-md-7 p-5 border shadow">
                <h3 class="heading">Change Password</h3>
                <br>
                Enter New Password:
                <input type="password" name="user_password" class="form-control">
                <br>
                <center>
                    <button class="btn btn-primary">Change Password</button>
                </center>
            </div>
        </div>
    </div>
</form>
<%- include('footer.ejs') %>
