<%- include("navbar.ejs"); %>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <img src="http://localhost:1000/admin/assets/img/avatars/8.jpg" width="100%" style="border-radius: 50%; height: 150px; width: 150px; margin-top: 50px;;">
      <b style="font-size: 40px;margin-top: 20px;margin-left: 40px; color: white;  text-shadow: 5px 5px 10px #000000;">Profile</b>


        </div>
    </div>
</div>
<div class="container">
    <div class="row ">
      
        
        <div class="col-md-4">
            <a href="/edit_profile">
            <div class="border m-3 p-3">
            <h3>Edit Profile</h3>
            </div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="/change_password">
            <div class="border m-3 p-3">
            <h3>Change Password</h3>
            </div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="/my_orders">
            <div class="border m-3 p-3">
            <h3>My Order</h3>
            </div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="/logout">
            <div class="border m-3 p-3">
            <h3> Logout</h3>
            </div>
            </a>
        </div>
       
    </div>
</div>
<%- include("footer.ejs"); %>